/* css sheet for etch-a-sketch */


body {
    /* font-family: Arial, sans-serif; */
    margin: 0; 
    font-family: 'Press Start 2P', cursive;
    padding: 0;
    display: flex;
    min-height: 100vh;
    background-color: #ebc799;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: url(./images/5.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center 43%;
    /* margin-top: 50px; */
  }

#grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr); /* 16 columns */
    grid-template-rows: repeat(16, 1fr); /* 16 rows */
    width: 750px; /* Adjust based on the actual width you want */
    height: 700px; /* Adjust based on the actual height you want */
    align-content: center;
    justify-content: center;
    background-size: cover; 
  }
  
  .square {
    background-color: rgb(194, 191, 180); /* Light gray background */
    border: 1px solid black; /* Border of 1px */
    box-sizing: border-box; /* Include the border in the element's dimensions */
  }
  

#reset-button {
  background-image: url('icon.png'); /* Replace with your image's URL */
  background-size: 20px 20px; /* Or the size of your image */
  background-repeat: no-repeat;
  background-position: 10px center; /* Adjust as needed */
  border: none; /* Remove default border */
  cursor: pointer; /* Change mouse pointer on hover */
  padding-left: 40px; /* Make space for the image */
  /* Any other styling you need */
  height: 40px; /* Adjust based on your needs */
  width: 100px; /* Adjust based on your needs */
}


#resolution-slider {
  width: 300px; /* Set the width you want */
  margin: 20px; /* Add some space around the slider */
}