/* css sheet for etch-a-sketch */


body {
    /* font-family: Arial, sans-serif; */
    margin: 0; 
    font-family: 'Press Start 2P', cursive;
    padding: 0;
    display: flex;
    min-height: 100vh;
    background-color: #ebc799;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: url(./images/5.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center 43%;
   
  }

#grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr); 
    grid-template-rows: repeat(16, 1fr); 
    width: 39vw; 
    height: 35vw;
    align-content: center;
    justify-content: center;
    background-size: cover; 
  }
  
  .square {
    background-color: rgb(194, 191, 180); 
    border: 1px solid black; 
    box-sizing: border-box; 
  }
  

#reset-button {
  background-image: url('./images/reset.png'); 
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center; 
  background-color: transparent;
  border: none; 
  cursor: pointer; 
  padding: 0px;
  height: 150px; 
  width: 150px; 
  border-radius: 2em;
  border-width: 0px;
}

#resolution-slider {
  width: 300px; 
  margin: 0px; 
  
}

#control-board {
  display: flex;
  flex-direction: column-reverse; /* Stack children vertically */
  align-items: center; /* Center-align items horizontally */
  justify-content: center; /* Center-align items vertically if there is extra space */
  margin-bottom: -150px; /* Pushes the whole controls container down */
}